#header {
  height: 4.5rem;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0rem;
  z-index: 10000;
}
#header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 2rem;
  cursor: pointer;
}
#header nav {
  width: 43%;
  margin-right: 2rem;
  margin-left: auto;
}
#header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
#header li {
  font-weight: bold;
  cursor: pointer;
}
#header li:hover {
  transition: 0.5s;
  opacity: 0.7;
}
#header a {
  text-decoration: none;
  color: black;
}

#mission {
  height: 35rem;
  background: url(../img/mv.png) no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 4.5rem;
  position: relative;
}
.mission-text {
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#mission h1 {
  font-size: 3.2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1.5rem;
}
#mission h3 {
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}
#heart {
  height: 20rem;
  width: 100%;
  background-color: black;
  color: #fff;
  position: relative;
}
.heart-text {
  position: absolute;
  height: 40%;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heart-text h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.heart-text h3 {
  line-height: 1.5rem;
  font-weight: normal;
}

#service {
  height: 70rem;
  width: 100%;
  position: relative;
}
#service h1 {
  font-size: 1.9rem;
  font-weight: bold;
  text-align: center;
  margin-top: 5rem;
}
.service-main {
  height: 75%;
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#service button {
  height: 3rem;
  width: 20%;
  border-radius: 0;
  border: 0.1px solid #cd0224;
  background-color: #cd0224;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, 0%);
  cursor: pointer;
}
#service button:hover {
  transition: 0.5s;
  opacity: 0.7;
}
.service1,
.service2,
.service3,
.service4 {
  height: 50%;
  width: 49%;
}
.service1-image {
  height: 75%;
  width: 100%;
  background: url(../img/service1.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.service1-text h2,
.service2-text h2,
.service3-text h2,
.service4-text h2 {
  margin: 0.6rem 0rem;
  font-size: 1.1rem;
}
.service1-text h3,
.service2-text h3,
.service3-text h3,
.service4-text h3 {
  font-weight: normal;
  line-height: 1.5rem;
}
.service2-image {
  height: 75%;
  width: 100%;
  background: url(../img/service2.png) no-repeat;
  background-size: cover;
}
.service3-image {
  height: 75%;
  width: 100%;
  background: url(../img/service3.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.service4-image {
  width: 100%;
  height: 75%;
  background: url(../img/service4.png) no-repeat;
  background-size: cover;
  background-position: center;
}

#news {
  height: 28rem;
  width: 100%;
  background-color: black;
  position: relative;
}
.news-text {
  width: 70%;
  height: 60%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.news-title,
.news-first,
.news-second,
.news-third {
  height: 25%;
  width: 100%;
  background-color: #fff;
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  position: relative;
}
.news-first:hover,
.news-second:hover,
.news-third:hover {
  transition: 0.5s;
  opacity: 0.7;
}
.news-first,
.news-second,
.news-third {
  cursor: pointer;
  color: #000;
}
.news-title {
  background-color: #000;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.news-title h1 {
  font-size: 2rem;
  color: #fff;
}
.news-title button {
  height: 2.2rem;
  width: 10rem;
  font-size: 0.9rem;
  background-color: #cd0224;
  font-weight: bold;
  color: #fff;
  border: 0.1px solid #cd0224;
  cursor: pointer;
}
.news-title button:hover {
  transition: 0.5s;
  opacity: 0.7;
}
.news-first h3,
.news-second h3,
.news-third h3 {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  padding-left: 1.2rem;
  font-weight: normal;
}
.news-text span {
  font-weight: bold;
  margin-left: 1rem;
}
#news a{
  text-decoration: none;
}

#blog {
  height: 31.5rem;
  width: 100%;
  position: relative;
}
#blog h1 {
  font-size: 1.9rem;
  font-weight: bold;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.blog-main {
  height: 61.5%;
  width: 70%;
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: space-between;
}
.blog-first,
.blog-second,
.blog-third {
  height: 100%;
  width: 32%;
}
.blog-first-image {
  height: 65%;
  width: 100%;
  background: url(../img/blog.png) no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.blog-second-image {
  height: 65%;
  width: 100%;
  background: url(../img/blog.png) no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.blog-third-image {
  height: 65%;
  width: 100%;
  background: url(../img/blog.png) no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.blog-first-image:hover,
.blog-second-image:hover,
.blog-third-image:hover {
  transition: 0.5s;
  opacity: 0.7;
}
.blog-main h3 {
  font-size: 0.9rem;
  font-weight: normal;
  margin-top: 1rem;
}
.blog-main h2 {
  font-size: 1.1rem;
  margin-top: 0.7rem;
  cursor: pointer;
  color: #000;
}
.blog-main h2:hover {
  transition: 0.5s;
  opacity: 0.7;
}
#blog button {
  height: 3rem;
  width: 20%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #cd0224;
  border: 0.1px solid #cd0224;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
#blog button:hover {
  transition: 0.5s;
  opacity: 0.7;
}
#blog a {
  text-decoration: none;
}

#company {
  height: 20rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.company-left {
  height: 75%;
  width: 50%;
  background-color: #cd0224;
  cursor: pointer;
}
.company-right {
  height: 75%;
  width: 50%;
  background-color: black;
  cursor: pointer;
}
.company-left:hover,
.company-right:hover {
  transition: 0.5s;
  opacity: 0.7;
}
#company h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 15rem;
  color: #fff;
}
#company a {
  text-decoration: none;
}

#FAQ {
  height: 20rem;
  width: 100%;
  background-color: #f5f6f9;
  position: relative;
}
.FAQ-text {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.FAQ-text h1 {
  font-size: 1.9rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0.1rem;
}
.FAQ-text h3 {
  font-weight: normal;
  text-align: center;
  margin-top: 1.5rem;
}
.FAQ-text button {
  height: 3rem;
  width: 20%;
  font-size: 1rem;
  font-weight: bold;
  background-color: #cd0224;
  border: 0.1px solid #cd0224;
  color: #fff;
  margin: 2.5rem 0 0 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
}
.FAQ-text button:hover {
  transition: 0.5s;
  opacity: 0.7;
}
#footer {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
#footer h6 {
  font-size: 0.8rem;
  font-weight: normal;
  color: #fff;
  margin-left: 14rem;
}
#footer nav {
  margin-right: 13.5rem;
}
#footer ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
#footer li {
  font-size: 0.8rem;
  font-weight: normal;
  padding: 0rem 0.6rem 0rem 0.6rem;
  cursor: pointer;
  color: #fff;
}
#footer li:first-child {
  border-left: none;
}
#footer li:hover {
  transition: 0.5s;
  opacity: 0.7;
}
#footer a {
  text-decoration: none;
  border-left: 0.1px solid #fff;
}
#footer a:first-child {
  border-left: none;
}

@media screen and (max-width: 768px) {
  #header nav {
    display: none;
  }
  #header {
    height: 5rem;
  }
  #header h1 {
    font-size: 1.7rem;
    margin-left: 1rem;
  }
  .hamburger {
    height: 4rem;
    width: 4rem;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
  }
  .hamburger span {
    position: absolute;
    left: 12px;
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    background-color: #000;
  }
  .hamburger span:nth-of-type(1) {
    top: 1rem;
  }
  .hamburger span:nth-of-type(2) {
    top: 1.9rem;
  }
  .hamburger span:nth-of-type(3) {
    top: 2.8rem;
  }

  #mission {
    height: 45.5rem;
  }
  #mission h1 {
    font-size: 3.5rem;
    line-height: 5.5rem;
    text-align: center;
    margin-bottom: 0rem;
  }
  #mission h3 {
    font-size: 1.25rem;
    margin-left: 0rem;
    line-height: 2rem;
  }
  #heart {
    height: 25rem;
  }
  .heart-text {
    top: 13rem;
    width: 90%;
    box-sizing: border-box;
    padding-left: 1.4rem;
    padding-right: 0.8rem;
  }
  #heart h3 {
    font-size: 1rem;
    line-height: 1.8rem;
  }

  #service {
    height: 140rem;
    margin-bottom: 5rem;
  }
  #service h1{
    font-size: 2.1rem;
    margin-top: 6rem;

  }
  .service-main {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
  .service1,
  .service2,
  .service3,
  .service4 {
    width: 100%;
    height: 30%;
    padding: 0 0.6rem;
  }
  .service1-image,
  .service2-image,
  .service3-image,
  .service4-image {
    height: 80%;
  }
  .service1-text,.service2-text.service3-text.service4-text{
    height: 25%;
    font-size: 1.1rem;
    margin: 0.7rem 0.2rem;
  }
  #service h2{
    font-size: 1.25rem;
  }
  #service h3{
    line-height: 1.7rem;
    font-size: 1rem;
  }
  .service4-text h2{
    line-height: 2rem;
  }
  #service button{
    width: 40%;
    margin-top: 15rem;
    font-size: 1.1rem;
  }
  #news{
    height: 26rem;
  }
  .news-text{
    width: 87%;
    height: 12rem;
  }
  .news-title{
    margin-bottom: 1.3rem;
  }
  .news-title button{
    width: 11rem;
    height: 2.5rem;
    font-size: 0.95rem;
  }

  .news-first h3,
  .news-second h3,
  .news-third h3 {
    padding-left: 0.7rem;
  }
  .news-text span{
    margin-left: 0.6rem;
  }

  #blog{
    height: 120rem;
    width: 100%;
    box-sizing: border-box;
  }
  #blog h1{
    font-size: 2.1rem;
    margin-top: 6rem;
  }
  .blog-main{
    height: 85%;
    width: 90%;
    flex-wrap: wrap;
  }
  .blog-first,.blog-second,.blog-third{
    width: 100%;
    height: 33.3%;
  }
  .blog-first-image,.blog-second-image,.blog-third-image{
    height: 85%;
  }
  .blog-first-text,.blog-second-text,.blog-third-text{
    height: 25%;
  }
  #blog h2{
    font-size: 1.25rem;
  }
  #blog h3{
    font-size: 1rem;
  }
  #blog button{
    width: 40%;
    font-size: 1.1rem;
    margin-top: 4rem;
  }

  #FAQ{
    height: 25rem;
  }
  #FAQ button{
    width: 40%;
    font-size: 1.1rem;
  }
  #FAQ h3{
    font-size: 1.2rem;
  }

  #footer{
    height: 16rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #footer h6{
    margin: 0;
    text-align: center;
  }
  #footer ul{
    display: block;
    text-align: center;
    width: 100%;
    justify-content: flex-start;
  }
  #footer nav{
    margin: 0;
  }
  #footer li{
    padding-bottom: 1.1rem;
  }
  #footer a{
    border-left: none;
  }
}
