#header {
  height: 4.5rem;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0rem;
  z-index: 10000;
}
#header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 2rem;
  color: #000;
}
#header h1:hover,
#header li:hover {
  transition: 0.5s;
  opacity: 0.7;
}
#header nav {
  width: 43%;
  margin-right: 2rem;
  margin-left: auto;
}
#header ul {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
#header li {
  color: #000;
}
#header a {
  text-decoration: none;
}

#title {
  height: 15.5rem;
  width: 100%;
  background: url(../img/mv.png) no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 4.5rem;
}
#title h1 {
  font-size: 1.85rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  line-height: 15.5rem;
}

#main {
  height: 47rem;
  width: 100%;
  position: relative;
}
.contents1 {
  height: 50%;
  width: 62.5%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
.contents2 {
  height: 50%;
  width: 62.5%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
}
.contents-title {
  font-size: 1.6rem;
  margin-top: 5.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.1px solid #000;
  box-sizing: border-box;
}
.contents-text h3 {
  font-size: 1rem;
  font-weight: normal;
  margin: 1.5rem 0rem;
}
#main table {
  height: 50%;
  width: 100%;
  border: 0.1px solid #000;
  border-collapse: collapse;
}
#main th {
  background-color: #f5f6f9;
  width: 30%;
  border-right: 0.1px solid #000;
  padding: 0.9rem;
  box-sizing: border-box;
}
#main tr {
  border-bottom: 0.1px solid #000;
}
#main td {
  padding-left: 0.6rem;
}

#FAQ {
  height: 21rem;
  width: 100%;
  background-color: #f5f6f9;
  position: relative;
  margin-top: 5rem;
}
.FAQ-text {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#FAQ h1 {
  font-size: 1.9rem;
  font-weight: bold;
  margin: 0.4rem 0rem;
}
#FAQ h3 {
  font-weight: normal;
  margin: 1.5rem;
}
#FAQ button {
  width: 19.5%;
  height: 25.5%;
  background-color: #cd0224;
  border: 0.1px solid #cd0224;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.5rem;
  cursor: pointer;
}
#FAQ button:hover {
  transition: 0.5s;
  opacity: 0.7;
}

#footer {
  height: 4rem;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer h6 {
  font-size: 0.75rem;
  font-weight: normal;
  color: #fff;
  margin-left: 14.5rem;
}
.footer-menu {
  width: 33%;
  margin-right: 14rem;
}
.footer-menu ul {
  display: flex;
  justify-content: space-between;
}
.footer-menu li {
  font-size: 0.75rem;
  font-weight: normal;
  padding: 0rem 0.5rem;
  border-left: 0.1px solid #fff;
  color: #fff;
}
#footer li:first-child {
  border-left: none;
}
#footer a {
  text-decoration: none;
  border-left: 0.1px solid #fff;
}
#footer a:first-child {
  border-left: none;
}
#footer li:hover {
  transition: 0.5s;
  opacity: 0.7;
}

@media screen and (max-width : 768px){
#header nav{
  display: none;
}
.hamburger{
  height: 4rem;
  width: 4rem;
  position: absolute;
  right: 0%;
}
.hamburger span{
  background-color: #000;
  position: absolute;
  height: 0.25rem;
  width: 2.3rem;
  left: 12px;
  display: block;
}
.hamburger span:nth-of-type(1){
  top: 1rem;
}
.hamburger span:nth-of-type(2){
  top: 1.9rem;
}
.hamburger span:nth-of-type(3){
  top: 2.8rem;
}

#main{
  height: 55rem;
}
.contents1,.contents2{
  width: 90%;
}
.contents-text{
  line-height: 1.7rem;
}
.contents-title{
  margin-top: 5rem;
}
#FAQ{
  height: 23rem;
}
#FAQ button{
  width: 40%;
  font-size: 1.05rem;
}
#FAQ h3{
  font-size: 1.05rem;
  line-height: 1.65rem;
}
#footer{
  height: 16rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer h6{
  margin: 0;
  padding: 0;
}
.footer-menu{
  width: fit-content;
  margin-right: 0;
  text-align: center;
}
.footer-menu ul{
  display: block;
  justify-content: flex-start;
}
#footer li{
  border-left: none;
  padding-bottom: 1.1rem;
}
#footer a{
  border: none;
}
}